*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#0f172a;
    color:white;

}

.container{

    width:90%;
    margin:auto;
    padding-top:40px;

}

h1{

    text-align:center;
    margin-bottom:40px;

}

.cards{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:20px;

}

.card{

    background:#1e293b;

    padding:30px;

    border-radius:15px;

    text-align:center;

    box-shadow:0 0 20px rgba(0,0,0,.3);

    transition:.3s;

}

.card:hover{

    transform:translateY(-8px);

}

.latestMessages{

    margin-top:40px;

    background:#1e293b;

    padding:25px;

    border-radius:15px;

}

.message{

    padding:12px;

    margin-top:10px;

    border-bottom:1px solid #3a5d91;

}
